$assets-img: '/assets/img/';

$white: #ffffff;
$black: #000000;
$invalid: #FF0024;

$gray-menu: #141414;
$purple-menu: #4b2782;

$gray-table-container: #E0E0E0;

$lightest-gray: #F1F4F5;
$lighter-gray: #E6EAEC;
$light-gray: #E4E4E4;
$gray: #cdd3d8;
$dark-gray: #75818b;
$darker-gray: #6A6C66;
$darkest-gray: #333333;

$lighter-blue: #a5cee8;
$light-blue: #6caedb;
$blue: #0A75bd;
$dark-blue: #094879;
$darker-blue: #0c304a;
$datepicker-blue:#014c8c;
