@import 'assets/scss/variables.scss';

.main {
  .flex {
    p-checkbox {
      position: relative;
      top: 26px;
    }
  }

  .ui-fluid {
    label {
      display: block;
      font-size: 13px;
      margin-bottom: 5px
    }

    p-dropdown, p-checkbox, p-calendar {
      &.invalid-field {
        border: 0 !important;
      }
    }

    p-dropdown {
      .ui-dropdown {
        width: 100% !important;
      }
    }
  }

  .container-control {
    padding: 0.5em;

    button {
      padding: 0 20px;
      margin-right: 20px;
    }
  }
}

@media (max-width: 640px) {
  .main {
    .flex {
      p-checkbox {
        position: relative;
        top: 0px;
      }
    }
  }
}

