@import 'assets/scss/variables.scss';

header {
  padding: 24px;
  background: $light-gray;

  span {
    font-weight: bold;
    text-transform: uppercase;
  }
}

// Mobile
@media (max-width: 768px) {
  header {
    padding: 24px 24px 24px 87px;
  }
}
